<div id="<%= dom_id user %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Age:</strong>
    <%= user.age %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Avatar:</strong>
      <%= image_tag(user.avatar_url, class: "text-gray-700 underline hover:no-underline", width: "300", height:"200") %>
      <% if user.avatar? %>
        <%= image_tag(user.avatar.thumb.url, class: "text-gray-700 underline hover:no-underline", width: "50", height:"50") if user.avatar? %>
      <% end %>
  </div>
</div>